<%- include("template/cabecera.ejs", {cabecera:"Panel"}) %>
    <div class="container">
        <h1>CRUD Mongo</h1>
        <a class="btn btn-success btn-block my-4" href="/ciudad/crearciudad">Crear una nueva ciudad</a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tiene Gimnasio</th>
                    <th scope="col">Numero de Casas</th>
                    <th scope="col">Región</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayCiudad.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayCiudad.forEach(ciudad=> { %>
                        <tr>
                            <th scope="row">
                                <%= ciudad.id %>
                            </th>
                            <td>
                                <%= ciudad.nombre %>
                            </td>
                            <td>
                                <%= ciudad.tienegimnasio %>
                            </td>
                            <td>
                                <%= ciudad.numerocasas %>
                            </td>
                            <td>
                                <%= ciudad.region %>
                            </td>

                            <td>
                                <a class="btn btn-warning btn-sm" href="/ciudad/<%= ciudad.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
        <a class="btn btn-dark btn-block my-4" href="/">Volver</a>
    </div>


    <%- include("template/footer.ejs") %>