<%- include("template/cabecera", {cabecera: 'Detalles del Gimnasio' }) %>
<div class="container">
    <h1>Detalles del Pokémon</h1>
    <% if (error) { %>
        <%= mensaje %> 
        <a 
            href="/gimnasio"
            class="btn btn-dark btn-block my-2"
        >
            Volver
        </a>
<% } %>
<% if (!error) { %>
<form id="editar" data-id="<%= gimnasio.id %>">
    <input type="text" value="<%= gimnasio.tipo %>" class="form-control my-2" name="tipo"
        id="tipoInput">
    <input type="text" value="<%= gimnasio.nivel %>" class="form-control my-2" name="nivel"
        id="nivelInput">
    <input type="text" value="<%= gimnasio.numeroentrenadores %>" class="form-control my-2" name="numeroentrenadores"
        id="numeroentrenadoresInput">
    <input type="text" value="<%= gimnasio.pokemonfamoso %>" class="form-control my-2"
        name="pokemonfamoso" id="pokemonfamosoInput">
    <button class="btn btn-warning btn-sm" type="submit">
        Editar
    </button>
</form>
<hr>
<button class="btn btn-danger btn-sm" data-id="<%= gimnasio.id %>">
    Eliminar
</button>
<% } %>


</div>
<%- include("template/footer") %>
<script>
const btnEliminar = document.querySelector('.btn-danger')
btnEliminar.addEventListener('click', async () => {
    console.log(btnEliminar.dataset.id)
    try {
        // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
        const data = await fetch(`/gimnasio/${btnEliminar.dataset.id}`, {
            method: 'delete'
        })
        const res = await data.json()
        console.log(res)
        if (res.estado) {
            window.location.href = '/gimnasio'
        } else {
            console.log(res)
        }
    } catch (error) {
        console.log(error)
    }
})

const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                
                const tipo = formEditar.elements['tipo'].value
                const nivel = formEditar.elements['nivel'].value
                const numeroentrenadores = formEditar.elements['numeroentrenadores'].value
                const pokemonfamoso = formEditar.elements['pokemonfamoso'].value
                const id = formEditar.dataset.id
                const data = await fetch(`/gimnasio/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tipo,nivel,numeroentrenadores,pokemonfamoso })
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/gimnasio'
                } else {
                    console.log(res)
                }
            })
</script>
