<%- include("template/cabecera", {cabecera: 'Detalles de la Ciudad' }) %>
<div class="container">
    <h1>Detalles del Pokémon</h1>
    <% if (error) { %>
        <%= mensaje %> 
        <a 
            href="/ciudad"
            class="btn btn-dark btn-block my-2"
        >
            Volver
        </a>
<% } %>
<% if (!error) { %>
<form id="editar" data-id="<%= ciudad.id %>">
    <input type="text" value="<%= ciudad.nombre %>" class="form-control my-2" name="nombre"
        id="nombreInput">
    <input type="text" value="<%= ciudad.tienegimnasio %>" class="form-control my-2" name="tienegimnasio"
        id="tienegimnasioInput">
    <input type="text" value="<%= ciudad.numerocasas %>" class="form-control my-2" name="numerocasas"
        id="numerocasasInput">
    <input type="text" value="<%= ciudad.region %>" class="form-control my-2"
        name="region" id="regionInput">
    <button class="btn btn-warning btn-sm" type="submit">
        Editar
    </button>
</form>
<hr>
<button class="btn btn-danger btn-sm" data-id="<%= ciudad.id %>">
    Eliminar
</button>
<% } %>


</div>
<%- include("template/footer") %>
<script>
const btnEliminar = document.querySelector('.btn-danger')
btnEliminar.addEventListener('click', async () => {
    console.log(btnEliminar.dataset.id)
    try {
        // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
        const data = await fetch(`/ciudad/${btnEliminar.dataset.id}`, {
            method: 'delete'
        })
        const res = await data.json()
        console.log(res)
        if (res.estado) {
            window.location.href = '/ciudad'
        } else {
            console.log(res)
        }
    } catch (error) {
        console.log(error)
    }
})

const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                
                const nombre = formEditar.elements['nombre'].value
                const tienegimnasio = formEditar.elements['tienegimnasio'].value
                const numerocasas = formEditar.elements['numerocasas'].value
                const region = formEditar.elements['region'].value
                const id = formEditar.dataset.id
                const data = await fetch(`/ciudad/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre,tienegimnasio,numerocasas,region })
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/ciudad'
                } else {
                    console.log(res)
                }
            })
</script>
